@import url("@unocss-applet/reset/uni-app/tailwind-compat.css");


:root, page{
  // 修改 Wot Design 主题色
  --wot-color-theme: #2080F0;

  // 修改 NutUI 主题色
  --nut-primary-color: #2080F0;
  --nut-primary-color-end: #4098fc;
}